@import url('https://fonts.cdnfonts.com/css/chinese-rocks');

@font-face {
  font-family: "212 Keyboard";
  src: url(../fonts/keyboard.ttf);
}

@font-face {
  font-family: texat;
  src: url(../fonts/texat.otf) format('opentype');
}

@font-face {
  font-family: crock;
  src: url(../fonts/crock.ttf) format('truetype');
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  overflow: hidden;
  display: none;

  text-align: center;
  justify-content: center;
  align-items: center;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */

  overflow: hidden;
  justify-content: center;

}

#main-background {
  position: absolute;
  transform: translate(-50%, 0);

  top: 10%;
  left: 88%;

  width: 20%;
  height: 61%;

  background-image: url(../img/default.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  overflow: hidden;
}

#main-close-button,
#main-foundation-button,
#main-lipsticks-button,
#main-shadows-button,
#main-eyeliners-button,
#main-blush-button,
#main-eyebrows-button {
  position: absolute;
  transform: translate(-50%, 0);
  color: #e2e2e2;
  font-family: "crock", crock, serif;
  font-weight: 500;

  font-size: 1.15vw;

  margin-top: 35.5%;
  margin-left: 88%;

  width: 15%;
  height: 3.2%;

  padding-top: 0.1;

  background-color: rgba(0, 0, 0, 0.553);
  box-shadow: inset 0 0 2px 2px #74737391;
  border-radius: 2%;
  text-align: center;
}

#main-foundation-button {
  margin-top: 19.5%;
}

#main-lipsticks-button {
  margin-top: 22%;
}

#main-shadows-button {
  margin-top: 24.5%;
}

#main-eyeliners-button {
  margin-top: 27%;
}

#main-blush-button {
  margin-top: 29.5%;
}

#main-eyebrows-button {
  margin-top: 32%;
}

#main-close-button:hover,
#main-foundation-button:hover,
#main-lipsticks-button:hover,
#main-shadows-button:hover,
#main-eyeliners-button:hover,
#main-blush-button:hover,
#main-eyebrows-button:hover {
  opacity: 0.7;
}

#main-title,
#main-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 1.2vw;
  color: #ffffff;

  font-family: "crock", crock, serif;
  font-weight: bold;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 7.5%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#main-info-text {
  margin-top: 11%;
  color: #a7a6a6e5;
  font-weight: 100;
  font-size: 0.85vw;
}

#makeup-selected-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 1.0vw;
  color: #ddcb65;

  font-family: "crock", crock, serif;
  font-weight: bold;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;
  text-decoration: underline;

  white-space: pre-wrap;
}

#makeup-info-text,
#makeup-selected-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 13%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#makeup-info-text {
  margin-top: 11%;
}

#makeup-texture-id-title,
#makeup-opacity-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.6vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 19.5%;
  margin-left: 87.85%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#makeup-opacity-title {
  margin-top: 25.5%;
}

#main-categories-list {
  position: absolute;
  width: 15.5%;
  height: 28.2%;

  top: 30.5%;
  left: 80.8%;

  overflow-y: scroll;
  border-radius: 1px;

  opacity: 1;

  padding-top: 1vw;
}

#main-categories-list-name {
  position: relative;
  font-family: "crock", crock, serif;

  height: 2vw;
  padding-top: 0.5vw;
  color: rgba(255, 255, 255, 0.973);
  font-size: 1vw;

  width: 95%;

  background-color: rgba(51, 51, 51, 0.201);
  box-shadow: inset 0 0 2px 2px #ffffff49;
  border-radius: 2%;
  text-align: center;

}

#main-categories-list-name:hover {
  opacity: 0.7;
}

#main-categories-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#makeup-back-button,
#makeup-selected-back-button {
  position: absolute;
  transform: translate(-50%, 0);
  color: #e2e2e2;
  font-family: "crock", crock, serif;
  font-weight: 500;

  font-size: 1.15vw;

  margin-top: 35.5%;
  margin-left: 88%;

  width: 13%;
  height: 3.2%;

  padding-top: 0.1;

  background-color: rgba(0, 0, 0, 0.553);
  box-shadow: inset 0 0 2px 2px #74737391;
  border-radius: 2%;
  text-align: center;
}

#makeup-back-button:hover,
#makeup-selected-back-button:hover {
  color: white;
  box-shadow: inset 0 0 2px 2px #cacacabe;
}

#makeup-selected-comps-list {
  position: absolute;
  width: 15%;
  height: 28%;
  top: 30.5%;
  left: 80.1%;
  overflow-y: auto;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6vw;
  /* spacing between rows */
  scrollbar-width: thin;
}

.makeup-selected-comps-list-selector {
  width: 75%;
  background: rgba(34, 34, 34, 0.45);
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
  padding: 0.6vw 0.8vw;
  display: flex;
  flex-direction: column;
  /* <-- this stacks the label on top */
  align-items: center;
  gap: 0.3vw;
}


.makeup-selected-comps-list-title {
  text-align: center;
  font-size: 0.6vw;
  font-family: "crock", crock, serif;
  color: #a7a6a6e5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.makeup-selected-comps-list-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#makeup-selected-comps-list-prev,
#makeup-selected-comps-list-next {
  font-size: 1vw;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #888;
  background: #f9f9f9d5;
  transition: background 0.2s, transform 0.1s;
}

#makeup-selected-comps-list-prev:hover,
#makeup-selected-comps-list-next:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}

#makeup-selected-comps-list-currentNumber,
#makeup-selected-comps-list-currentNumberMax,
#makeup-selected-comps-list-currentNumberMin {
  width: 4vw;
  text-align: center;
  color: #fff;
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "crock", crock, serif;
}

#makeup-selected-comps-list-currentNumberMax,
#makeup-selected-comps-list-currentNumberMin {
  width: 2vw;
  text-align: center;
  color: #a7a6a6e5;
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "crock", crock, serif;
}

#groom-selected-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 1.0vw;
  color: #ddcb65;

  font-family: "crock", crock, serif;
  font-weight: bold;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;
  text-decoration: underline;

  white-space: pre-wrap;
}

#groom-info-text,
#groom-selected-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 13%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#groom-info-text {
  margin-top: 11%;
}

#groom-texture-id-title,
#groom-opacity-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.6vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 19.5%;
  margin-left: 87.85%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#groom-opacity-title {
  margin-top: 25.5%;
}

#groom-categories-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#groom-selected-back-button {
  position: absolute;
  transform: translate(-50%, 0);
  color: #e2e2e2;
  font-family: "crock", crock, serif;
  font-weight: 500;

  font-size: 1.15vw;

  margin-top: 35.5%;
  margin-left: 88%;

  width: 13%;
  height: 3.2%;

  padding-top: 0.1;

  background-color: rgba(0, 0, 0, 0.553);
  box-shadow: inset 0 0 2px 2px #74737391;
  border-radius: 2%;
  text-align: center;
}

#groom-selected-back-button:hover {
  color: white;
  box-shadow: inset 0 0 2px 2px #cacacabe;
}

#groom-selected-comps-list {
  position: absolute;
  width: 15%;
  height: 28%;
  top: 30.5%;
  left: 80.1%;
  overflow-y: auto;
  padding: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6vw;
  /* spacing between rows */
  scrollbar-width: thin;
}

.groom-selected-comps-list-selector {
  width: 75%;
  background: rgba(34, 34, 34, 0.45);
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2);
  padding: 0.6vw 0.8vw;
  display: flex;
  flex-direction: column;
  /* <-- this stacks the label on top */
  align-items: center;
  gap: 0.3vw;
}


.groom-selected-comps-list-title {
  text-align: center;
  font-size: 0.6vw;
  font-family: "crock", crock, serif;
  color: #a7a6a6e5;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.groom-selected-comps-list-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#groom-selected-comps-list-prev,
#groom-selected-comps-list-next {
  font-size: 1vw;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #888;
  background: #f9f9f9d5;
  transition: background 0.2s, transform 0.1s;
}

#groom-selected-comps-list-prev:hover,
#groom-selected-comps-list-next:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}

#groom-selected-comps-list-currentNumber,
#groom-selected-comps-list-currentNumberMax,
#groom-selected-comps-list-currentNumberMin {
  width: 4vw;
  text-align: center;
  color: #fff;
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "crock", crock, serif;
}

#groom-selected-comps-list-currentNumberMax,
#groom-selected-comps-list-currentNumberMin {
  width: 2vw;
  text-align: center;
  color: #a7a6a6e5;
  font-size: 0.9vw;
  font-weight: bold;
  font-family: "crock", crock, serif;
}

#lifestyle-selected-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 1.0vw;
  color: #ddcb65;

  font-family: "crock", crock, serif;
  font-weight: bold;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;
  text-decoration: underline;

  white-space: pre-wrap;
}

#lifestyle-info-text,
#lifestyle-selected-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 13%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#lifestyle-info-text {
  margin-top: 11%;
}

#lifestyle-texture-id-title,
#lifestyle-opacity-title {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.6vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 19.5%;
  margin-left: 87.85%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#lifestyle-opacity-title {
  margin-top: 25.5%;
}

#lifestyle-categories-info-text {
  position: absolute;
  transform: translate(-50%, 0);

  font-size: 0.75vw;
  color: #a7a6a6e5;

  font-family: "crock", crock, serif;
  font-weight: 100;
  text-align: center;

  width: 16.2%;
  height: fit-content;

  margin-top: 11%;
  margin-left: 88%;

  letter-spacing: 2px;

  white-space: pre-wrap;
}

#lifestyle-back-button,
#lifestyle-selected-back-button {
  position: absolute;
  transform: translate(-50%, 0);
  color: #e2e2e2;
  font-family: "crock", crock, serif;
  font-weight: 500;

  font-size: 1.15vw;

  margin-top: 35.5%;
  margin-left: 88%;

  width: 13%;
  height: 3.2%;

  padding-top: 0.1;

  background-color: rgba(0, 0, 0, 0.553);
  box-shadow: inset 0 0 2px 2px #74737391;
  border-radius: 2%;
  text-align: center;
}

#lifestyle-back-button:hover,
#lifestyle-selected-back-button:hover {
  color: white;
  box-shadow: inset 0 0 2px 2px #cacacabe;
}


.lifestyle-texture-id-selector,
.lifestyle-opacity-selector {
  position: absolute;
  top: 38.7%;
  left: 87.75%;
  transform: translateX(-50%);
  width: 12.3vw;
  background: rgba(34, 34, 34, 0.452);
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.lifestyle-opacity-selector {
  top: 49%;
}

.lifestyle-texture-id-nav-container,
.lifestyle-opacity-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.lifestyle-texture-id-nav-container button,
.lifestyle-opacity-nav-container button {
  font-size: 1vw;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #888;
  background: #f9f9f9d5;
  transition: background 0.2s, transform 0.1s;
}

.lifestyle-texture-id-nav-container button:hover,
.lifestyle-opacity-nav-container button:hover {
  background: #e0e0e0;
  transform: scale(1.05);
}

#lifestyle-texture-id-currentNumber,
#lifestyle-opacity-currentNumber {
  font-size: 0.9vw;

  color: #ffffffd8;
  width: 25vw;
  text-align: center;
  user-select: none;

  font-family: "crock", crock, serif;
  font-weight: bold;

  margin-top: 0.5vw;
  margin-left: 1vw;
}

#lifestyle-texture-id-prev,
#lifestyle-texture-id-next,
#lifestyle-opacity-prev,
#lifestyle-opacity-next {
  font-size: 0.85vw;
  font-weight: bold;
  height: 1.2vw;
  width: 1.5vw;
  margin-left: 1vw;
  margin-top: 0.5vw;
}

#lifestyle-opacity-next,
#lifestyle-texture-id-next {
  margin-right: 1vw;
}

::-webkit-scrollbar {
  width: 0.5vw;
  border-radius: 0.1vw;
  height: 0.55vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(104, 104, 104, 0.849);
  border-radius: 0.5vw;
  height: 0.55vw;
}